body{
	margin:0px;
	border:0px;
	overflow-x : hidden;
}
header{
	font-family:'微软雅黑';	
	font-size: 12px;
}
#container{
	padding-top:17px;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
}
.module_butt{
	font-family:'微软雅黑';	
	font-size: 12px;
	border-radius:20px;
	height:26px;
	width: 90px;
	border:1px solid #979797;
	margin-right:8px;
	background-color: transparent;
	outline: none;
}
#Contlist{
	display:block;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	width: 100%;
}
#tab_contlist{
	font-family:'微软雅黑';	
	font-size: 12px;
}
#tab_contlist th{
	border-right:1px solid #DBE5F1;
	border-bottom:1px solid #DBE5F1;
	background-color: transparent;
}
#tab_contlist tr{	
	height:40px;
}
#tbody_contlist td{
	border-bottom:1px solid #DBE5F1;
	border-right:1px solid #DBE5F1;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;	
	text-align:center;
}
#phase{
	background-color: transparent;
	font-family:'微软雅黑';	
	font-size: 12px;
	border: 1px solid #979797;
	border-radius: 20px;
	width: 90px;
	padding-left: 5px;
	height: 28px;
	outline: none;
}
#meidas{
	background-color: transparent;
	font-family:'微软雅黑';	
	font-size: 12px;
	border: 1px solid #979797;
	border-radius: 20px;
	padding-left: 5px;
	height: 28px;
	outline: none;
}
#filter{
	background-color: transparent;
	width:180px;
	padding-left:20px;
	border: 1px solid #979797;
	border-radius: 20px;
	padding-left: 5px;
	height: 22px;
	outline: none;
	margin-left: 20px;
}
#pages{
	text-align:right;
	font-family:'微软雅黑';
	font-size:12px;
	margin-top:20px;
	margin-right:10px;
}
#pages button{
	background-color: transparent;
	width: 70px;
	height:22px;
	border-radius:20px;
	border: 1px solid #979797;
	outline: none;
	font-family:'微软雅黑';
	font-size:12px;
}
#form_Content{
	top:5%;
	left:18%;
}
#posi{
	margin-left:5px; 
}
#wh{
	margin-left:5px; 
}
#tyy{
	margin-left:5px; 
	border-radius: 5px;
	height: 25px;
	width: 80px;
}
#policy{
	margin-left:5px; 
	border-radius: 5px;
	height: 25px;
	width: 80px;
}
#picfile_selector{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	border:0;
	background-color: #51B1F2;
	color: #FFFFFF;

}
#videofile_selector{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	border:0;
	background-color: #51B1F2;
	color: #FFFFFF;
}
#closepic{
	display: block;
	position: absolute;
	z-index: 6;
	top:5px;
	right:5px;
	
}
#pic_review{
	background-color: #FFFFFF;
	top: 10%;
	left:20%;
	padding: 20px;
}